<html>
       <head>
        <title>{{ title }} - Userblog</title>
    </head>

    <body>

    <body>
        <div>Userblog: <a href="/index">Home</a></div>
        <hr>
         {%if user%}
        <h1>Hello, {{ user.username }}!!</h1>
        {%else%}
        <h1>Hello, Guest User!!</h1>
        {%endif%}
        {% block content %}{% endblock %}
    </body>
</html>