<html>
{% extends "base.html" %}
{% block content %}

    {% for post in posts %}
        <div><p>{{ post.author.username }} best in : <b>{{ post.body }}</b></p></div>
    {% endfor %}

</html>
{%endblock%}